name: Workflow Self Test

on:
  pull_request:
    branches: [main, master]
  schedule:
    - cron: "0 7 * * 0"

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: reviewdog/action-actionlint@3981d83a3cc805ac1bf47f53ffea3bb1d9171259
        with:
          fail_level: error
